[2018-01-19 10:35] JostCrow opened #1 "support jasmine/karma"

[2018-02-04 18:00] g3offrey commented on #1
Hi @JostCrow, thank you very much for this feedback 👍

I'm not an user of jasmine / karma so I have to do some research to resolve this "issue".
However I added your request to my release map 👌

I'll let you know here once I added support for your frameworks 😄
Thank you.

[2018-03-20 06:45] PeikangHu opened #3 "Please support *.text.tsx for type script."
When I work under typescript. I am not able to see Run Test button. Could you support typescript as well? Thanks.

[2018-04-16 06:42] nfour opened #5 "Bug: Occurs on ALL instances of the token "test", not just test files"
![](https://i.imgur.com/AoDUbpj.png)

As you can see above, this isn't a test.

The tokenizer needs to check for `function` invokations, and not regexp `/foo/.test()` either.

[2018-04-17 08:53] g3offrey commented on #5
Hi @nfour,
First of all thank your for opening an issue for this, indeed, this is really bothering 😓

I just merged this PR #4 from @ooga 👍
I guess this should fix your issue, can you please tell me if you still encounter such an issue ?

Thank you 😄

[2018-04-17 08:58] g3offrey commented on #3
Hi @PeikangHu
first of all please accept my apologies for the delay 😅

Thank you for opening an issue 👍

I understand what you mean, I'll look at this as soon as possible and get back to you once I have a solution 😄

[2018-05-03 12:27] GoGoris opened #7 "Windows: file path issue"
Hi, I am using VSCode on Windows 10 with the shell command line runner. Your plugin does look very promising, unfortunately it does not work for me because my windows paths are not correctly transformed to git bash.

It would be nice if you could implement the following fixes:
1. A setting for the path to the jest executable
2. Relative file paths with forward slashes as test parameter

[2018-05-08 13:01] g3offrey commented on #7
Hi @GoGoris
thank you very much for your feedback and for the issue 😄
I will investigate on this and create a package to enable Windows user to use the extension 😉

Sadly, I am unable to test it on a real windows machine, is it possible for you to test a package if I send one to you ? 😅

[2018-05-09 03:52] fabiohvp commented on #7
Another problem is when the path contains spaces. for instance, my project is in a Visual Code folder, when I try to execute the plugin it gives me "d:\Projetos\Visual : The term 'd:\Projetos\Visual' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path
is correct and try again."
This w

[2018-05-18 13:42] marqu3z opened #8 "Cannot set ENV vars"
This extensions is exactly what i need but without the possibility to set at least `NODE_ENV=test` it is impossible to run tests on exisiting projects who make use of environment variables.

[2018-05-20 14:42] g3offrey commented on #7
@fabiohvp thank you very much for your contribution that's very nice of you 👍
Yeah indeed I need to improve path management especially for Windows user. As soon as I have I have a bit more time I'll try to improve that 😅
Thank you for pointing me out this issue 👍

[2018-05-20 14:49] g3offrey commented on #8
Hi @marqu3z
Thank you for your contribution and for opening this issue 😄

You totally right, this should be implemented in the extension 👍
I'm thinking about adding a configuration field. Something like : `javascript-test-runner.envVars`

I need to think about Windows users too. I guess env vars on this OS are not the same as Unix ones 😅
I add your request in my roadmap 😄

[2018-05-22 10:45] marqu3z commented on #8
@g3offrey you use `cross-env` to set env vars across different platforms.

https://www.npmjs.com/package/cross-env

[2018-05-26 03:23] dantman opened #9 "Cannot use when package.json/node_modules/jest is not at the workspace root"
I work on a project using Jest where `package.json` and `node_modules` are located at `src/main/webapp/` instead of the root.

Would you be willing to at least offer a config option to configure the path to the "JS root" or the path to the test runner.

Or better yet, would you be willing to just make things work automatically? By that I mean start at the current file's folder and walk upwards unt

[2018-05-30 19:09] dantman commented on #5
I too am getting the behaviour on RegExp `.test`s, my webpack.config.js has a bunch of tests shoved into it.

[code]

[2018-05-31 18:23] g3offrey commented on #8
Hi @marqu3z !
This package seems very nice 👍
I guess I would use your solution while resolving this ticket thanks for your help 😄

[2018-05-31 18:29] g3offrey commented on #9
Hi @dantman
thank you very much for your contribution 👍

You totally right, I wasn't aware of this use case while developing the extension 😩
I think having a configuration option for the path of the test runner could be a good first solution.
The automatic one is obviously better but could be harder and longer to implement 😅

In any case I add your propositions to my roadmap and I'll implement one

[2018-05-31 18:36] g3offrey commented on #5
Hi @dantman,
Thank you for your feedback 😄
You right. I still have to find a solution for that 😅

[2018-05-31 19:48] dantman commented on #5
It's not ideal. But if you need to keep using regexps, it would probably be sufficient to make your regexp for "test" only work when there is a `(` following it and it does not follow any `.`'s or other tokens like `function`.

First draft:
[code]

[2018-05-31 20:17] g3offrey commented on #5
I am using a tokenizer function, so it should even be easier to test what's the next token and what is his type 👍
@ooga already improved a lot the detection of real test token in his PR 😄
But indeed we need to check the next token is "(".
You got a nice solution over here thank you 💯

[2018-06-21 14:24] fallanic opened #10 "Test runner not enabled in some cases"
Hi,

first thanks for this great extension, it's really an important missing feature in VS code, so keep up with the great work 👍

I noticed that some of my unit test files don't have the test runner enabled, depending on the code of the unit test.

Here is an example of a dummy test which won't work with test runner

[code]

But interestingly commenting the second test, will enable the test runne

[2018-06-25 18:38] fallanic commented on #10
it seems to be a problem understanding jsx, when there is more than a single HTML tag

e.g. This will not show "Run test"

[code]

But this will :

[code]

[2018-06-27 10:30] cazfletch commented on #9
Hi @g3offrey any details on when this might be implemented? i would like it to work automatically too.

[2018-06-28 09:31] g3offrey commented on #9
Hi @caroline-church
please accept my apologies, as I'm not very active on this development. I don't have as much time as I want to attribute to open source even if I like contributing a lot 😞

I'll try my possible to get back on this project as soon as possible and develop the requested features. I would also love to welcome new contributors / maintainers to keep it active (and build a real pipeli

[2018-06-28 09:39] g3offrey commented on #10
Hi @fallanic,
first of all thank you very much for your kind words 😄

Maybe this is a bug with the parser I am using. I'll try to investigate about this. I guess the parser is running crazy when it sees JSX 👍

Thank you for the examples in this issue they will help me 👌

I'm adding this to my roadmap 😄

[2018-07-01 16:08] #8 closed

[2018-07-01 16:14] g3offrey commented on #8
Hi everyone,

I just added a new configuration which permits to set environment variables for test runner.
This will come in the next release (later this month) 😄 🔜

[2018-07-05 11:35] alimbada commented on #1
@JostCrow I found this issue whilst searching for the same thing, but I've found that there is a dedicated extension for running Jasmine tests here: https://github.com/hbenl/vscode-jasmine-test-adapter.

[2018-07-10 13:13] tcov189 commented on #7
@g3offrey If you need someone to test out packages on a Windows machine I would be happy to help out

[2018-07-10 14:14] GoGoris commented on #7
@g3offrey Of course! I will gladly provide feedback to you if you send me a package to test on Windows. It can take a day however before I answer because this week thursday for example I am out of office.

[2018-07-10 14:18] g3offrey commented on #7
Thank you @GoGoris and @tcov189, that's very kind of you 😄
I think I'll start to work on this next week.

Don't worry if you don't have time to test it. I'll find another solution. Just enjoy your free time that's the most important.
Anyway I'll ping people in this thread when I have a nice package available for test 👍

Thank you again for your help 👌

[2018-07-10 16:19] tcov189 commented on #7
Awesome, thanks @g3offrey.

[2018-07-20 08:56] #3 closed

[2018-07-20 08:59] g3offrey commented on #3
Thanks to awesome work from @roggenbrot this is finally resolved ! 👏
I will release a new version including this feature 👍

[2018-07-20 13:31] roggenbrot opened #15 "Support multi root workspaces"
Current implementation fails on executing/debug test since it will always use the first workspace project as root.

It seems that vscode code passes a string instead of a `WorkspaceFolder` to `getTestRunner`.

This will cause `debug.startDebugging` to always use cwd of the first workspace folder in multi root workspaces.

[2018-07-20 15:42] roggenbrot opened #17 "Debug single test does not work"
When trying to debug a single Jest test, the debugger will not stop on any breakpoint.

This seems to be either a limitation in Jest or ts-jest transformer since the same problem also occurs when trying to debug a test file with `--testNamePattern` option from command line. Not sure if this is typescript specific problem or if this problem also occurs with pure javascript or if debugging with `--t

[2018-07-21 07:05] roggenbrot commented on #17
After some more investigation this seems to be a typescript only problem.

Breakpoints in typescript files just work for me if coverage is disabled (e.g. --coverage=false CLI option), without `--testNamePattern` CLI option and the following settings in `tsconfig.json`

[code]

and the following launch configuration

[code]
When using `--testNamePattern` CLI option i was not able to add working bre

[2018-07-21 07:05] #17 closed

[2018-07-21 07:44] roggenbrot commented on #17
Found the real cause now:

Source maps in ts-jest ^23.0.1 are completely broken. After a rollback to 22.4.6 everything works ~~without any additional CLI option or custom tsconfig.json~~ when test coverage is disabled (kulshekhar/ts-jest#334).

Disable coverage via `settings.json`:

[code]

Working `jest config`:

[code]

[2018-07-21 14:43] roggenbrot commented on #10
Acorn bug

Tried several other libaries (esprima, acorn-jsx, cherow) but all can't handle jsx syntax.

Only solution I found so far is babel

[code]
codeParser.ts

[code]

acorn ~ 470 kB vs babel ~ 1,4 MB
acorn MIT  vs babel MIT

I will create a pull request next week

[2018-07-21 16:19] g3offrey commented on #15
Hi @roggenbrot,
again thank you for your help, you seem pretty active on this repo. Your help is really valuable I love that ! 🎉

Indeed this is a very important issue and I checked the pull request you made ! Good job for the fix 👍

Sadly I worked on my side for windows support these last days and I just created the PR, I refactored some code using the `rootPath`. Merging one of the PR would caus

[2018-07-21 16:25] g3offrey commented on #10
Hi @roggenbrot

The solution you provided looks very good ! Can't wait to validate your pull request and release a new version with this fix 👍

Thank you for your awesome investigation and your work 🥇

[2018-07-21 17:58] roggenbrot commented on #15
Sure, no problem. Should i test your changes against multi root workspaces?

[2018-07-21 19:43] g3offrey commented on #15
Thank you 👍
If you wanna try it out you can with the #14 branch however I already tested it with a multi root workspaces which didn't work previous to your fix 😄

I'll merge it tomorrow evening and will release a new version.

[2018-07-22 05:09] greenlikeorange opened #19 "javascript-test-runner.envVars missing"
In my project, I need to add some env variable on running test cases.
When I looking into `javascript-test-runner/package.json` I found `javascript-test-runner.envVars` under `contributes.configuration` that gonna be useful to me.

On market extension `javascript-test-runner.envVars` is missing.
<img width="1291" alt="screen shot 2018-07-22 at 11 24 02 am" src="https://user-images.githubuserconten

[2018-07-22 07:46] roggenbrot commented on #15
Debugging with your branch still fails in multi root environments:

### Setup

Workspace with 3 root folders:

- admin
- core
- user

Workspace confif:

[code]

### Steps to reproduce

Execute "Debug test" of any jest test case in in folder `core`

### Result

[code]

### Expected behavior

Test should be executed in folder `core`, not `admin`

[2018-07-22 08:14] roggenbrot commented on #15
Added comments to your pull requests

[2018-07-22 10:12] roggenbrot opened #22 "Improve test case detection"
At the moment every file is parsed to detect if it's a mocha or jest test case (Token based detection).

Maybe it would be better to parse just files that fulfill the criteria of the framework:

### Mocha

Mocha expects tests normally in folder `test. Instead parsing all files, only files located in a sub folder of `test`could be parsed.

Since it's possible to change the default folder location w

[2018-07-22 15:43] g3offrey commented on #19
Hi @greenlikeorange

thank you for opening a ticket.

This is normal, the version deployed on the marketplace is not the latest on this repo.
I'll try to release the new version including this feature in less than 48 hours 👌

[2018-07-22 15:43] #19 closed

[2018-07-22 16:07] #10 closed

[2018-07-22 16:08] g3offrey commented on #10
Just merged the very nice PR from @roggenbrot 👌
This will be released with the next version in less than 48 hours.

Thank you.

[2018-07-22 16:11] g3offrey commented on #15
I just pushed a new commit which should resolve this use case thank you for your time 😄

[2018-07-22 16:19] g3offrey commented on #22
This sounds really great ! 👍
I didn't take any time to improve performance for the moment, but love your solution.
I think I took the problem on the wrong side, parsing all files and then deciding if test are from mocha or jest.

I think your solution parsing `package.json` to test if mocha or jest is present is a good one to increase performance easily. Then as you said we should extract the rege

[2018-07-22 16:35] roggenbrot commented on #9
Isn't this solved with #15?

[2018-07-22 16:44] #15 closed

[2018-07-22 16:48] g3offrey commented on #7
I just merged the branch containing the Windows support.
This will be released in less than 48 hours.
Thank you everybody for your help, I really appreciate this. 😄

I already did some testing but if you encounter any issue don't hesitate to open a new ticket, I'll be glad to fix it as soon as possible 👌

[2018-07-24 15:38] roggenbrot opened #25 "Jest/Mocha conditional code snippets/completion"
#22 will introduce the possibility to detect if a file will be picked up by Jest/Mocha during test execution.

It would be great if this feature could be used to add conditional code snippet/completion for mocha/jest functions like in [this](https://github.com/andys8/vscode-jest-snippets) project, but with the difference that this code snippets would be just enabled for real test files, and not on

[2018-07-24 21:48] g3offrey commented on #25
Hi @roggenbrot

I saw the #24 you did a pretty good job, thank you very much 👍
 (for your XXth contributions in a row I bet you deserve a 🥇)

Concerning snippets I'm sorry but I think we should concentrate our efforts on test runner as I'm not sure that people installing a test runner extension would like to have their intellisense proposing snippets by default (at least for the moment) 😞

However

[2018-07-24 21:55] g3offrey commented on #9
I think @dantman issue is about a folder structure like that :
[code]

If we run a test in _*test.spec.js*_ it will try to run Jest from *root/node_modules* instead of webapp as the opened folder is root (in Code).
I think we still have this issue. I'll investigate on this.

[2018-07-25 19:29] fallanic commented on #7
Thanks @g3offrey , are these changes included in the 1.0.0 release?

VS code is struggling to find Jest on my windows laptop when clicking on either `run test` or `debug test`🤔

![image](https://user-images.githubusercontent.com/1240520/43222798-c6c8a030-9016-11e8-9094-841d5f8fd774.png)

(I am using 1.0.0)

Also just a suggestion, but it would be nice to add a git tag / release on Github, to know

[2018-07-26 08:39] roggenbrot commented on #7
The problem is that the test runner is searched in node_modules/.bin folder while on windows it's node_modules/bin

As a temp workaround you could monkey patch this be opening `%USERPROFILE%.vscode\extensions\legfrey.javascript-test-runner-1.0.0/out/runners/JestTestRunner.js` /  `%USERPROFILE%.vscode\extensions\legfrey.javascript-test-runner-1.0.0/out/runners/MockTestRunner.js`

[code]

to

[code]

[2018-07-26 09:31] roggenbrot commented on #7
Fixed it in #24
It would be very helpful if you could test these changes in your environment since I don't have a window installation

[2018-07-26 10:04] roggenbrot commented on #9
You can add folder webapp as additional folder to the workspace

https://code.visualstudio.com/docs/editor/multi-root-workspaces

[2018-07-26 13:32] tcov189 commented on #7
@roggenbrot That didn't work for me. My test runner was indeed in node_modules/.bin.

[2018-07-26 18:12] roggenbrot commented on #7
@tcov189 @fallanic  Could you try if it's working if you change `%USERPROFILE%.vscode\extensions\legfrey.javascript-test-runner-1.0.0/out/runners/TestRunnerFactory.js`

from

[code]

to

[code]

If it's working uri.path has to be changed to uri.fsPath in all files for full windows support. Can you check if it's working and give me a feedback so that I could create a PR?

[2018-07-26 18:46] tcov189 commented on #7
@roggenbrot That got rid of the error for test runner could not be found, still not able to run tests because of spaces in file path.

[2018-07-26 18:47] tcov189 commented on #7
It appears to be adding a / to the beginning of the file path as well. This is the output I get in my terminal:
[code]

[2018-07-27 23:55] dantman commented on #9
@roggenbrot That breaks other extensions that need the various other config that is at the real repository root.

[2018-07-28 06:21] roggenbrot commented on #9
@dantman

Is this a guess or have you tried?

In multi root workspaces you can have multiple configs, one for the workspace (main folder) and additional, independent configs for  each sub root folder.

Configs will be retrieved from sub root folder, if not present it will fall back to the workspace config.

So everything should work without problems.

If it's not working for a extension you should

[2018-07-28 07:19] dantman commented on #9
@roggenbrot The official Jest extension pops up error messages and the integrated terminal fails to launch bash. And I don't at all expect anyone to support this kind of config. Having a workspace where two of the roots refer to the same files at different levels is absurd. All the stuff that automatically runs per-workspace-folder would run twice over the same code.

#24 does sound like it may wo

[2018-07-28 10:01] roggenbrot commented on #9
@dantman

Which extensions? Maybe the functionallity can be copied from there

Again, this works just for you use case.  And what about the following structure:

- ROOT
   package.json
   +---CORE
         package.json
         +--node_modules
              jest
   +---CLIENT
         package.json
         +--node_modules
              jest
   +---SERVER
         package.json
         +--node_modu

[2018-07-31 14:05] g3offrey commented on #9
I think the configuration added in #24 will resolve this issue. 👍

The automatic resolution is a bit complex for the moment.
I don't think this is worth it for the moment. However this can change in the future. 😅

[2018-07-31 14:06] #25 closed

[2018-07-31 14:11] g3offrey commented on #7
Thank you for your feedbacks and sorry for the inconvenience, I'll check this as soon as I merge the awesome @roggenbrot's PR (#24) 👌

[2018-08-13 05:17] gmukul01 opened #26 "Cannot find module paths"
Hi Team,

The plugin is not able to identify paths.

I have given below config also in jest.config.js

` modulePaths: ["./src/js", "./src", "./__tests__"]`

And when I add below line in tests, the plugin is not able to identify the module.
`import ActionBar from "containers/ActionBar";`

[2018-08-14 13:40] omar-zakaria commented on #7
I can confirm @tcov189 's observation. I have the same problem on two different win10 machines, with two seperate projects.

To counter the issue, I have had to modify the extension code  while waiting for the fix. I basically added a skip to the first "/" of the mocha path
`const doesRunnerExist = yield doesFileExist(path_1.join(rootPath.uri.path, runner.binPath).substring(1));`
TestRunnerFactory

[2018-08-15 11:44] garyhammett commented on #1
Yes that runs jasmine tests when you have a jasmine config, but while using karma it cannot detect the tests.. is there any update on this? Likely to get investigated?

[2018-08-15 11:55] alimbada commented on #1
@garyhammett Yes, sorry, I realised that afterwards too.

[2018-08-15 11:56] garyhammett commented on #1
It's such a desirable idea to get Karma Jasmine tests working; If i understood it a bit more I would fork and create a pull request.

[2018-09-07 10:22] nhanledev commented on #7
I also have problem when using this runner with VSCODE and WSL.

The script detected my `rootPath.uri.path` as `/c:/projects/api-gateway` when the real path that node can execute the jest runner must be `/mnt/c/projects/api-gateway`

I think the extension should provide a way to config the environment i,e windows, linux, mac or wsl or it will auto detect the environment when config was not provide

[2018-09-10 13:15] LoveSponge commented on #7
@tcov189
Untested (except my own machine) fix:
As @roggenbrot updated `uri.path` to be `uri.fsPath` in `[mocha/jest]TestRunner.js`.
You must update it everywhere, most notably (for me it fixed command line error) in:
`${ROOT_OF_EXT}/out/providers/TerminalProvider.js:13:57`

I also changed in:
`${ROOT_OF_EXT}/out/runners/TestRunnerFactory:28:82`

[2018-09-10 13:19] tcov189 commented on #7
@LoveSponge I will try this out, thanks.

EDIT: I just tried it, still no dice. cd has too many arguments error again.

[2018-09-10 13:46] tcov189 commented on #7
I think I have a better idea of whats going on. So the problem that I am having is that backslashes are being interpreted as escape characters in the bash integrated terminal.  I confirmed this by changing my default terminal to PowerShell, and it worked just fine.

Edit: I finally got it to work by putting quotes around where a command was being piped into a terminal.
```${ROOT_OF_EXT}/out/runner

[2018-09-10 22:00] LoveSponge commented on #7
The way node works dictates being able to specify the path using the `path` module and it will create it correctly for whichever operating system it is running.

[see docs](https://nodejs.org/dist/latest-v8.x/docs/api/path.html#path_path_win32)

@tcov189 Can you confirm this applies here?

It should be possible to use node path to build the path from the start, so it could be set once and implemen

[2018-09-11 13:24] tcov189 commented on #7
@LoveSponge That is how I always thought it worked as well, but I think the issue is with the bash shell itself. If I change my default terminal to PowerShell or CMD then I don't have this issue. But using bash, it's combing every part of the path into one string.

[2018-09-13 21:57] LoveSponge commented on #7
@tcov189 Sorry for the late response.
I have been using this **fsPath** _fix_ on my work (windows) PC for the last couple of days, and it has been working fine between restarts.

Since this is a windows file path issue thread i'm going to submit a pull request claiming a fix for this.

As a sidenote: I have also tested this on my home laptop (arch linux with gnome desktop) and have had good result

[2018-09-19 14:25] LoveSponge commented on #7
I have re-read this thread and realised that this issue requires the user to be using git bash on a windows machine.

After replicating this, i am now seeing the bug. While the above fix DOES fix an issue i was having just by using powershell on a windows machine and bash on a linux machine (as node correctly determines separators between linux and windows OS's as expected.)

I am looking for a fi

[2018-10-12 23:26] Jonatthu opened #28 "Not working with nx angular use cases"
Repro: https://github.com/Jonatthu/nx-angular-test

Is there a way to make it work?

it says the following:
![image](https://user-images.githubusercontent.com/3742176/46898045-5c326900-ce3b-11e8-8c8a-e28af06e3193.png)

But I do have jest installed:
![image](https://user-images.githubusercontent.com/3742176/46898061-7d935500-ce3b-11e8-9666-bcfd926bc084.png)

[2018-11-05 09:43] MrHIDEn opened #29 "No test runner in your project. Please install one."
I have `mocha` already installed and working well.
Why do i get message `No test runner in your project. Please install one.`?

[2018-11-06 09:37] ido-ran commented on #7
I've changed the function according to the description of https://github.com/g3offrey/javascript-test-runner/issues/7#issuecomment-408186810 and it solved the problem.

My tests are written in TypeScript and that does not works but at least the test runner is found.

[2018-11-13 02:18] zpc7 commented on #29
the same as me

[2018-11-16 14:11] heatherlp opened #31 "Support for typescript and mocha"
I've recently made this extension a dependency of the IBM Blockchain extension (https://github.com/IBM-Blockchain/blockchain-vscode-extension) so first of all, thank you! This extension is a really useful tool for us to allow developers to run smart contract tests.

I find it doesn't work for typescript tests however, I see this:

[code]

I've played round with the mocha command that is run by the

[2018-11-19 15:45] heatherlp commented on #31
Ok, worked around this by making use of: `"javascript-test-runner.additionalArgs": "-r ts-node/register"` as it doesn't matter where the ts-node/register bit belongs in the command. Now the extension runs:

`node_modules/.bin/_mocha <test_file> -r ts-node/register`

I think it would be good to get this fixed in the extension so that this command is run when typescript tests are detected? As an alt

[2018-12-06 15:53] cn-src opened #32 "Support jest config"
Support `jest.config.js` or `jest` field in `package.json`

from:
[Vue cli-plugin-unit-jest](https://github.com/vuejs/vue-cli/tree/dev/packages/%40vue/cli-plugin-unit-jest)

[2018-12-10 14:03] wizart commented on #29
Hi! Same issue
I use Jest. My OS is Windows.
And use `GitCMD `instead `original CMD console`.

I guess that issue because `path` join with `\` because it Windows. But GitCMD expect `/` and as result tries find `node_modules.binjest`

Console output will be

And try find it in GitCMD

Any ideas for fix?

[2018-12-10 14:42] wizart commented on #29
Like Idea is to make function `doesModuleExist` instead `doesFileExist` and use `require.resolve` instead `exists`.
So NodeJs modules will solve this check instead FS.
@g3offrey  wdyt?

[2019-01-09 15:30] JDeuce commented on #29
Same issue here... is there a workaround available to force a specific test runner?

[2019-01-17 16:23] nick-gaudreau-omd commented on #29
Same problem with create react app v2 - Typescript. Windows OS.

[2019-01-24 16:10] aramando opened #33 "Test runner not enabled in files containing the spread operator"
Hi, this is similar to #10 but with different syntax.

I've found that a spread operator anywhere in a test file prevents the extension from activating and showing the test runner buttons.

For example this breaks it:
`const helper = props => anotherHelper({ ...props });`

Incidentally the similar rest operator is _not_ a problem, e.g.
`const helper = (...args) => anotherHelper();`

[2019-01-26 14:54] lonix1 opened #34 "Feature request: not my code"
It would be nice to have a "not my code" [feature for debugging](https://code.visualstudio.com/docs/nodejs/nodejs-debugging#_skipping-uninteresting-code-node-chrome). So we can step over platform code, like "node_modules" etc.

When doing regular debugging this can be enabled in the launch profiles. But with this plugin those profiles aren't used.

Perhaps a new option in the settings, e.g.

[code

[2019-01-29 04:35] vaikzs opened #35 "support for lab test framework"

[2019-02-01 11:14] lonix1 opened #37 "Feature request: should work with test.each([])() syntax"
The extension doesn't show codelens items over [`test.each(table)(name, fn, timeout)`](https://jestjs.io/docs/en/api.html#testeachtable-name-fn-timeout) Jest methods.

[2019-02-11 07:31] ddehghan commented on #33
Yeah, this is happening for me as well. with the error

[2019-02-23 00:10] justinforce opened #38 "Specify path to test runner"
First, thank you. I appreciate your work.

Please allow overriding the test runner path. I want to use `yarn test` as my test runner instead of the detected `node_modules/.bin/jest`. As it stands, this doesn't work with `create-react-app`. This is touched on in #29, but I want to be clear that the problem is that you can't override the test runner. If you could override the test runner, it would c

[2019-03-03 04:57] Romstar opened #39 "--testNamePattern="undefined" when ` is used within describe or it"
Hello Guys,

Great VScode plugin, I love it!  There is one issue that isn't allowing my team to utilize this plugin and it is the fact that it expects users to use a single quote to name their describes and it statements.  Our eslint configuration currently requires backticks for all strings.

Example that works: `describe('UPDATE_ANNUAL_INCOME_COMPLETED'`

produces: node_modules/.bin/jest test/un

[2019-03-08 07:24] lonix1 commented on #5
I am also getting this problem. The codelens actions appear over regex:

[code]

[2019-03-08 19:12] lonix1 opened #41 "PLEASE NOMINATE MAINTAINERS"
@g3offrey This is an excellent extension - thank you so much for making it! :+1: :+1: :+1:

But there are many bugs and PRs, and the community wants to help you!

If you don't have time to maintain it anymore, consider adding one or two contributors. Maybe choose from those who've made PRs, as they are familiar with the codebase?

What do you think about this idea? Please let us know this extensio

[2019-03-08 19:13] lonix1 commented on #41
If you are willing to help @g3offrey please post below so he knows who is interested...

[2019-03-28 18:54] lonix1 commented on #22
Please also support cypress

[2019-04-05 16:31] lonix1 commented on #39
It's not just backticks. These also don't work:

[code]

So it considers everything within as plain text. I assume this means it is not using a parser when reading the test metadata, just converts to text.

[2019-04-05 16:33] Romstar commented on #39
Great find.  This PR will address backticks.  I can debug your situation if you can give me a repo that works with your example and fails with the plug in.

[2019-04-05 16:37] lonix1 commented on #39
Just a simple variable like I show above would be enough to debug.

That said, please don't waste time on that, because this extension seems to be abandoned. :cry:

Owner hasn't merged anything in ages, or answers issues, so your fix sadly won't be merged.

I left a plea to nominate maintainers (see issues list) and he hasn't responded. If there were at least one contributor/maintainer then we cou

[2019-04-05 16:52] Romstar commented on #41
I am willing to maintain it

[2019-04-05 16:53] Romstar commented on #39
I forked it but I don't want to publish it since it is originally his and without his permission

[2019-04-05 17:00] lonix1 commented on #39
Its MIT licenced, so technically you are allowed. Also, it's abandoned.

[2019-04-05 17:00] lonix1 commented on #39
BTW thought you might like this extension I just found: [vscode-jest-runner](https://github.com/firsttris/vscode-jest-runner). It doesn't use codelens, but rather a context menu.

But, it has undocumented shortcuts that you can map - look under files-preferences-shortcuts and look for "jest". There are two shortcuts there. I mapped "shift-1" to run test and "shift-2" to test debug.

Then I press t

[2019-05-11 08:53] long-hp commented on #38
I want to do the same

[2019-05-21 18:37] fabienbc commented on #41
Agreed, many small issues could be fixed easily, and some already have PRs.

And again this extension is a "must have" in my opinion, that's why I would love to see these some of these issues fixed 😇 ❤️

Please let me know if I can help @g3offrey

[2019-05-30 18:02] g3offrey commented on #41
Hi everyone,
First of all please accept my apologies for the long time I took to answer. 😢

These days, I can't contribute as much as I wanted to on this project.
I also have some others project in my mind I would like to start.

However this project is completely open source with a very permissive license, so don't hesitate to fork this extension and make yours.

I also want to highlight a great

[2019-05-30 18:04] g3offrey commented on #39
Hello,

Please accept my apologies for the late answer.
I published a status about this extension. 😞
(TL;DR: I won't be able to work on it anymore)

https://github.com/g3offrey/javascript-test-runner/issues/41#issuecomment-497425080

[2019-05-30 18:04] #39 closed

[2019-05-30 18:05] g3offrey commented on #38
Hello,

Please accept my apologies for the late answer.
I published a status about this extension. 😞
(TL;DR: I won't be able to work on it anymore)

https://github.com/g3offrey/javascript-test-runner/issues/41#issuecomment-497425080

[2019-05-30 18:05] #38 closed

[2019-05-30 18:05] g3offrey commented on #37
Hello,

Please accept my apologies for the late answer.
I published a status about this extension. 😞
(TL;DR: I won't be able to work on it anymore)

https://github.com/g3offrey/javascript-test-runner/issues/41#issuecomment-497425080

[2019-05-30 18:05] #37 closed

[2019-05-30 18:05] g3offrey commented on #35
Hello,

Please accept my apologies for the late answer.
I published a status about this extension. 😞
(TL;DR: I won't be able to work on it anymore)

https://github.com/g3offrey/javascript-test-runner/issues/41#issuecomment-497425080

[2019-05-30 18:05] #35 closed

[2019-05-30 18:05] g3offrey commented on #34
Hello,

Please accept my apologies for the late answer.
I published a status about this extension. 😞
(TL;DR: I won't be able to work on it anymore)

https://github.com/g3offrey/javascript-test-runner/issues/41#issuecomment-497425080

[2019-05-30 18:05] #34 closed

[2019-05-30 18:05] g3offrey commented on #33
Hello,

Please accept my apologies for the late answer.
I published a status about this extension. 😞
(TL;DR: I won't be able to work on it anymore)

https://github.com/g3offrey/javascript-test-runner/issues/41#issuecomment-497425080

[2019-05-30 18:05] #33 closed

[2019-05-30 18:06] g3offrey commented on #31
Hello,

Please accept my apologies for the late answer.
I published a status about this extension. 😞
(TL;DR: I won't be able to work on it anymore)

https://github.com/g3offrey/javascript-test-runner/issues/41#issuecomment-497425080

[2019-05-30 18:06] #31 closed

[2019-05-30 18:06] g3offrey commented on #29
Hello,

Please accept my apologies for the late answer.
I published a status about this extension. 😞
(TL;DR: I won't be able to work on it anymore)

https://github.com/g3offrey/javascript-test-runner/issues/41#issuecomment-497425080

[2019-05-30 18:06] #29 closed

[2019-05-30 18:06] g3offrey commented on #28
Hello,

Please accept my apologies for the late answer.
I published a status about this extension. 😞
(TL;DR: I won't be able to work on it anymore)

https://github.com/g3offrey/javascript-test-runner/issues/41#issuecomment-497425080

[2019-05-30 18:06] #28 closed

[2019-05-30 18:06] g3offrey commented on #26
Hello,

Please accept my apologies for the late answer.
I published a status about this extension. 😞
(TL;DR: I won't be able to work on it anymore)

https://github.com/g3offrey/javascript-test-runner/issues/41#issuecomment-497425080

[2019-05-30 18:06] #26 closed

[2019-05-30 18:06] g3offrey commented on #22
Hello,

Please accept my apologies for the late answer.
I published a status about this extension. 😞
(TL;DR: I won't be able to work on it anymore)

https://github.com/g3offrey/javascript-test-runner/issues/41#issuecomment-497425080

[2019-05-30 18:06] #22 closed

[2019-05-30 18:06] g3offrey commented on #9
Hello,

Please accept my apologies for the late answer.
I published a status about this extension. 😞
(TL;DR: I won't be able to work on it anymore)

https://github.com/g3offrey/javascript-test-runner/issues/41#issuecomment-497425080

[2019-05-30 18:06] #9 closed

[2019-05-30 18:07] g3offrey commented on #7
Hello,

Please accept my apologies for the late answer.
I published a status about this extension. 😞
(TL;DR: I won't be able to work on it anymore)

https://github.com/g3offrey/javascript-test-runner/issues/41#issuecomment-497425080

[2019-05-30 18:07] #7 closed

[2019-05-30 18:07] g3offrey commented on #5
Hello,

Please accept my apologies for the late answer.
I published a status about this extension. 😞
(TL;DR: I won't be able to work on it anymore)

https://github.com/g3offrey/javascript-test-runner/issues/41#issuecomment-497425080

[2019-05-30 18:07] #5 closed

[2019-05-30 18:07] g3offrey commented on #1
Hello,

Please accept my apologies for the late answer.
I published a status about this extension. 😞
(TL;DR: I won't be able to work on it anymore)

https://github.com/g3offrey/javascript-test-runner/issues/41#issuecomment-497425080

[2019-05-30 18:07] #1 closed

[2019-05-30 18:11] g3offrey commented on #41
I reopen this ticket, if you want to synchronize yourself to merge your effort into a new repository.

[2019-05-30 19:50] lonix1 commented on #41
@g3offrey Instead of retiring this extension, why not sign it over to one of those who want to maintain it? There seems to be quite a few willing to take it over from you. It would be easier than forking and setting up everything from scratch.

[2019-05-30 20:09] g3offrey commented on #41
I won't feeling good, providing access to VSCode marketplace which would permit to deploy code on hundreds of machine (through the extension) on my name.
We saw what can happen doing this with npm package hacks that happened these last days. 😅

There is a build available on this repository freezed at this moment in time.
If you want to continue the work to another direction, a fork would permit to

[2019-05-30 20:15] g3offrey commented on #41
I would like to add that there is a lot of extensions about testing on marketplace.
I don't think it would be a good idea to split our work, when we can contribute to some good ones.
That was a point that affected me on my decision. 😄
(That was purely subjective however)

[2019-05-30 21:28] lonix1 commented on #41
I think a repo can be transferred to a new name, to protect the original owner. I've seen it done before, but I'm unsure how it was done. Maybe someone else wants to look into that.

BTW, you should know that your extension is still the best in its class. The other ones you mentioned are good but different. Thanks for making it, it was fun using it! :smiley:

[2019-06-02 19:08] g3offrey commented on #41
The repo can be transferred, however that's the publication on VSCode Marketplace, who still would be on my name. I also prefer to keep a copy of the repo in case I would like to make some changements in the future for my particular use case. 😅

@lonix1 thank you for these kind words, that means a lot. 😍

[2019-06-13 17:44] e0da commented on #38
@g3offrey Well that's ok! Thank you anyway. I appreciate your work.

[2019-07-03 15:41] felixjb commented on #41
Hi @g3offrey, I just wanted to say that I loved to use your extension and I was really sad to see the project deprecated. It's the best extensions I have used so far.

Anyway, I decided to fork and maintain the project. I relaunched the extensions under a new name, Testify. I want to implement the issues and PRs that didn't make it to this project and add new features.

If anyone wants to contribu

[2019-07-12 00:53] felixjb commented on #33
Hello!
We fixed this in our fork of this extension. [Check it out!](https://github.com/felixjb/testify)

[2019-07-22 11:00] villelahdenvuo commented on #17
@roggenbrot Thank you for your comment. I was also struggling with broken sourcemaps, but disabling coverage made them work! I'm using Jest 24.5.0.

[2019-08-10 23:17] felixjb commented on #38
Hi @justinforce ,
Could you help me understand a little more of how you use `yarn test` in this case?
I am working on this feature now.

[2019-08-20 02:31] felixjb commented on #29
Hi guys!
I just fixed the Windows path issue in my version of this project and I think it might have solved this issue too.
Could you try it out and see whether it really solved it? I would much appreciate it (:

[GitHub repo](https://github.com/felixjb/testify)
[VSCode Marketplace](https://marketplace.visualstudio.com/items?itemName=felixjb.testify)

[2020-02-24 05:49] jLouzado opened #49 "Add `run test` for `context` sections"
- Only `describe` & `test` sections have the `Run Test` option
- specific `context`'s should be runnable as well

![image](https://user-images.githubusercontent.com/2016685/75131114-7e0e5200-56f7-11ea-947c-d9073aec6527.png)

[2020-04-18 15:40] smil2k commented on #29
I had the same issue caused by opening the test from a "multi project" folder. There were no node_modules in the root, therefore the runner did not found mocha in the .bin.

Fixed by opening the project as a multi root setup, so each project was opened as a new root. Then it works perfectly.

[2020-09-11 06:07] wisetc commented on #41
Why you change the author of this extension from legfrey to oshri6688 thus cause the vscode-sync extension didn't work. 使用 Code-Settings-Sync 报错了，终止执行。

[2020-09-11 06:07] wisetc commented on #41
Why you change the author of this extension from legfrey to oshri6688 thus cause the vscode-sync extension didn't work. 使用 Code-Settings-Sync 报错了，终止执行。

[2020-12-13 17:42] g3offrey commented on #49
Hi @jLouzado

First of all please accept my apologies for the delay.
Sadly this repository is outdated, and not maintained anymore.

There are forks of this repository I invite you to report your issue on these.

[2020-12-13 17:42] #49 closed